<?xml version="1.0"?>
<config>
    <modules>
        <Zoostores_FrontendPerformanceLogger>
            <version>0.0.1</version>
        </Zoostores_FrontendPerformanceLogger>
    </modules>
    <frontend>
        <routers>
            <frontendperformancelogger>
                <use>standard</use>
                <args>
                    <module>Zoostores_FrontendPerformanceLogger</module>
                    <frontName>frontendperformancelogger</frontName>
                </args>
            </frontendperformancelogger>
        </routers>
        <layout>
            <updates>
                <frontendperformancelogger>
                    <file>frontendperformancelogger.xml</file>
                </frontendperformancelogger>
            </updates>
        </layout>
    </frontend>
<!-- TODO
    <admin>
        <routers>
            <frontendperformancelogger_admin>
                <use>admin</use>
                <args>
                    <module>Zoostores_FrontendPerformanceLogger</module>
                    <frontName>frontendperformancelogger_admin</frontName>
                </args>
            </frontendperformancelogger_admin>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <frontendperformancelogger translate="title" module="frontendperformancelogger">
                <title>Frontend Performance Statistics</title>
                <sort_order>51</sort_order>
                <children>
                    <stats translate="title">
                        <title>Statistics</title>
                        <sort_order>2</sort_order>
                        <action>frontendperformancelogger_admin/adminhtml_stats</action>
                    </stats>
                    <config translate="title">
                        <title>Configuration</title>
                        <sort_order>3</sort_order>
                        <action>adminhtml/system_config/edit/section/zoostores/frontendperformancelogger</action>
                    </config>
                </children>
            </frontendperformancelogger>
        </menu>
        <layout>
            <updates>
                <frontendperformancelogger>
                    <file>frontendperformancelogger.xml</file>
                </frontendperformancelogger>
            </updates>
        </layout>
    </adminhtml>   
-->
    <global>
<!-- TODO
        <models>
            <frontendperformancelogger>
                <class>Zoostores_FrontendPerformanceLogger_Model</class>
                <resourceModel>frontendperformancelogger_mysql4</resourceModel>
            </frontendperformancelogger>
            <frontendperformancelogger_mysql4>
                <class>Zoostores_FrontendPerformanceLogger_Model_Mysql4</class>
                <entities>
                    <log>
                        <table>frontendperformance_log</table>
                    </log>
                </entities>
            </frontendperformancelogger_mysql4>
        </models>
-->
        <resources>
            <frontendperformancelogger_setup>
                <setup>
                    <module>Zoostores_FrontendPerformanceLogger</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </frontendperformancelogger_setup>
            <frontendperformancelogger_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </frontendperformancelogger_write>
            <frontendperformancelogger_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </frontendperformancelogger_read>
        </resources>
        <blocks>
            <frontendperformancelogger>
                <class>Zoostores_FrontendPerformanceLogger_Block</class>
            </frontendperformancelogger>
        </blocks>
<!-- TODO
        <helpers>
            <frontendperformancelogger>
                <class>Zoostores_FrontendPerformanceLogger_Helper</class>
            </frontendperformancelogger>
        </helpers>
-->
    </global>
    <default>
        <zoostores>
            <frontendperformancelogger>
                <active>1</active>
                <debug>0</debug>
            </frontendperformancelogger>
        </zoostores>
    </default>
</config>

